/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    cursor: url('/assets/tooth-cursor.png'), auto; /* Cambia el cursor */
}

header {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 2em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
